[submodule "rocket-chip"]
	path = rocket-chip
	url = https://github.com/tmagik/rocket-chip.git
[submodule "sifive-blocks"]
	path = sifive-blocks
	url = https://github.com/tmagik/sifive-blocks.git
[submodule "fpga-shells"]
	path = fpga-shells
	url = https://github.com/tmagik/fpga-shells
[submodule "nvidia-dla-blocks"]
	path = nvidia-dla-blocks
	url = https://github.com/tmagik/nvidia-dla-blocks.git
